{% load static %}
<footer class="footer">
    <div class="footer__container p-4 pb-0">
        <h5 class="footer__container__title mb-4">
            SpotBA<span class='footer-dot'>.</span>
        </h5>
        <section class='footer__data-section'>
            <div class='footer__help-section'>
                <ul class='footer__details details-help'>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Shipment</a></li>
                    <li><a href="#">How to buy?</a></li>
                </ul>
            </div>
            <div class='footer__contact-section'>
                <h6>Contact Us</h6>
                <ul class='footer__details details-contact'>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">+541111111111</a></li>
                </ul>
            </div>

        </section>
    </div>

    <div class="footer__copyright">SpotBA © 2022 Copyright</div>
</footer>
