{% load static %}

<header class="container">
    <section class="main-container__header">
        <div class="header__sec sec1">
            <h1 class="header__title">The face of the <span class="main-color">game</span></h1>
            <p class="header__text">Buy, sell, trade sneakers and clothes. A platform that gives you absolute freedom at your disposal.</p>
            <a href="" class="header__cta-btn">Let's Go!</a>
        </div>
        <div class="header__sec sec2">
            <div class="sec2-container">
                <div class="header-img"></div>
            </div>
            <!--<img class="header-img" src="../../media/spotba_zapatilla2.png" alt="">-->
        </div>
    </section>
</header>


