$mainColorColorOne: #EC5526;
$mainColorColorTwo: #E26E6C;
$mainColorLightOne: #FFFFFF;
$mainColorLightTwo: #F7F9FC;
$mainColorLightThree: #E6E6E6;
$mainColorDarkOne: #222323;
$textColorDarkOne: #222323;